%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{require_otp_vsn, "R16"}.
{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.

{erlydtl_opts, [
                {compiler_options, [report, return, debug_info]}
               ]}.

{deps, [
        {node_package, ".*", {git, "git://github.com/basho/node_package.git", {branch, "develop"}}},
        {lager_syslog, "2.0.3", {git, "git://github.com/basho/lager_syslog.git", {tag, "2.0.3"}}}
        %% {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git", {branch, "master"}}}
       ]}.

%% {plugins, [rebar_lock_deps_plugin]}.


%% > g++ test_supersonic.cc -std=c++11 -g -I /usr/local/src/supersonic-0.9.4 -L /usr/local/src/supersonic-0.9.4/.libs -lsupersonic -lglog -L/usr/local/lib -lprotobuf -lboost_timer
%% > LD_LIBRARY_PATH=/usr/local/src/supersonic-0.9.4/.libs:/usr/local/lib ./a.out                    

{port_sources, ["c_src/*.cc"]}.
{port_env, [
            %% Make sure to set -fPIC when compiling leveldb
            {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
            {"CXXFLAGS", "$CXXFLAGS -Wall -Wno-sign-compare -std=c++11 -g -O3 -fPIC"},
            {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -I c_src/supersonic-0.9.4 -fPIC"},
            %%{"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/supersonic-0.9.4/.libs/libsupersonic.a -lglog -lprotobuf -lboost_timer -lstdc++"}
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -lsupersonic -lglog -lprotobuf -lboost_timer -lstdc++"}
           ]}.

{pre_hooks, [%%{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
