%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{require_otp_vsn, "R16"}.
{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.

{erlydtl_opts, [
                {compiler_options, [report, return, debug_info]}
               ]}.

{deps, [
        {node_package, ".*", {git, "git://github.com/basho/node_package.git", {branch, "develop"}}},
        {lager_syslog, "2.0.3", {git, "git://github.com/basho/lager_syslog.git", {tag, "2.0.3"}}}
        %% {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git", {branch, "master"}}}
       ]}.

%% {plugins, [rebar_lock_deps_plugin]}.

{port_env, [
            %% Make sure to set -fPIC when compiling leveldb
            {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
            {"CXXFLAGS", "$CXXFLAGS -Wall -O3 -fPIC"}
            %{"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/supersonic-0.9.4/supersonic"},
            %{"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/supersonic-0.9.4/.libs/libsupersonic.a -lstdc++"}
           ]}.

{pre_hooks, [%%{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
